<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
  <head>
    <meta charset="utf-8">
    <meta name="Opensource Team Project" content="9팀의 오픈소스 팀 과제입니다.">
    <title>Opensource Team 9 Project</title>
      <link href="style.css" rel="stylesheet" type="text/css" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
      .Title {
          text-align: left;
          font-weight: 500;
          color: #396a93;
          font-size: 30px;
      }
      table {
          margin: auto;
          width: 80%;
          padding: 10px;
          height: 80%;
      }
    </style>
  </head>
  <body>

    <div class="Enter">
       <form method="POST" action="/fileUpload" enctype="multipart/form-data">
           <div class="Title">
               <p align="center"> Enter the URL(구현못했습니다 죄송합니다) </p>
           </div>
                <p align="center">
           <input name="url" type="text"/>
           <button type="submit"> Enter</button>
                </p>
           <br><br>

           <div class="Title">
               <p align="center"> Enter the FILE NAME </p>
           </div>
                <p align="center">
           <input name="file" type="file"/>
                    <button type="submit"> Enter</button> </p>
       </form>
    </div>
<hr>
      {% if result_success|length != 0 %}
          <h5>성공</h5><br>
      {% for i in result_success %}
          {% print(i) %}<br>
      {% endfor %}
  {% endif %}

 {% if result_fail|length != 0 %}
     <h5>실패</h5> <br>
     {% for j in result_fail %}
         {% print(j) %}<br>
     {% endfor %}
  {% endif %}
 {% if result_duplicated|length != 0 %}
     <h5>중</h5><br>
     {% for k in result_duplicated %}
         {% print(k) %}<br>
     {% endfor %}
     <hr>
  {% endif %}

    {% if result_success|length != 0 %}
        <div class="Title">
            <p align="center"> Open Source Project Analysis List </p>
        </div>

        <div class="Table">
        <table>
        <thead>
          <tr bgcolor="#ffe4c4">
            <th>번호</th>
            <th>이름</th>
            <th>URL</th>
            <th>전체 단어 수</th>

            <th>버튼</th>
          </tr>
        </thead>
        <tbody>
        {% for i in range(0, result_success|length) %}
            {% if i % 2 == 0 %}
                <tr bgcolor="beige">
            {% else %}
                <tr bgcolor="gainsboro">
            {% endif %}
                <td>{% print(i + 1) %}</td>
                <td>{% print(word[i]) %}</td>
                <td>{% print(result_success[i]) %}</td>
                <td>{% print(freq_sum[i]) %}</td>
                <td>
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal{{ i }}">tf-idf분석</button>
                    <div class="modal fade" id="myModal{{ i }}" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">tf-idf</h4>
                                </div>
                                <div class="modal-body">
                                    처리시간 : {% print("%.2f" % myfunction(result_success[i], db_top)[0])  %}<br>
                                    {% print(myfunction(result_success[i], db_top)[1]) %}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal2{{ i }}">cosine분석</button>
                    <div class="modal fade" id="myModal2{{ i }}" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">cosine</h4>
                                </div>
                                <div class="modal-body">
                                    처리시간 : {% print("%.2f" % myfunction2(result_success[i], crawled_success)[0]) %}<br>
                                    {% print(myfunction2(result_success[i], crawled_success)[1]) %}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
    <script src="script.js"></script>
  </body>
</html>


